.container{
    width: 1400px;
    height: 480px;
    margin: 0 auto;
    
}
body{
    margin: 0px;
    padding: 0px;
    background: url(../img/lan2.jpg);
    background-size: 100%;
}
header{
    width: 100%;
    height: 100px;
    background-color: none;
    text-align: center;
    color: black;
    font-size: 40px;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 100px;
}
article{
    width: 40%;
    height: 450px;
    background-color: none;
    float: left;
    text-align: center;
    border: 5px solid red;
}
main{
    width:17% ;
    height: 450px;
    background-color: none;
    float: left;
    border: 5px solid black;
}
main p {
    color: yellow;
    font-size: 20px;
}
aside{
    width: 40%;
    height: 450px;
    background-color: none;
    float: left;
    
    border: 5px solid blue;
}
aside p {
    color: blue;
    font-size: 40px;
    text-align: center;
}
footer{
    width: 100%;
    height: 30px;
    background-color: none;
    clear: both;
    text-align: center;
    
    
}
footer button{
    width: 200px;
    height: 60px;
    background-color: white;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px inset gray;
    font-weight: bold;
}
footer button:hover{
    background-color: black;
    color: white;
}
footer a {
    text-decoration: none;
    display: block;
}

article img{
    width: 150px;
    height: 150px;
}  
aside img{
    width: 150px;
    height: 150px;
}    

article p {
    color: red;
    font-size: 40px;
}
article button{
    border: none;
    outline: none;
    width: 180px;
    border-radius: 20px;
    background-color: white;
    margin-top:90px;
    
}
article button:hover{
    box-shadow: 0 0 40px  blue;
    border: none;
    outline: none;
}
#hinh{
    margin-top: 90px;
}
#ketqua{
    color: yellow;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-top: 90px;
}
.icon{
    display: flex;
    margin-top: 130px;
}
#bao{
    width: 180px;
    height: 150px;
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
    display: none;
}
#keo{
    width: 180px;
    height: 150px;
    background-color: white;
    margin-right: 10px;
    border-radius: 20px;
    text-align: center;
    display: none;
}
#giay{
    width: 180px;
    height: 150px;
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
    display: none;
}
/*------------------------------------------------------*/
#mot{
    display: inline-block;
    font-size: 25px;
    margin-right: 20px;
    
    color: red;
    font-weight: bold;
}
#hai{
    display: inline-block;
    font-size: 25px;
    margin-right: 0px;
    color: blue;
    font-weight: bold;
}
#player{
    display: inline-block;
    font-size: 25px;
    margin-right: 5px;
    margin-left: 6px;
}
#cpu{
    display: inline-block;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 25px;
}
    