body{
    margin: 0px;
    padding: 0px;
    background: url(../img/j8.jpg);
    background-size: 100%;
}
.prod{
    width: 126px;
    height: 196px;
    border: 1px solid black;
    
    float: left;
    margin: 10px;
}
ul{
    width: 600px;
    height: 650px;
    margin: 0 auto;
    
}
img{
    width: 126px;
    height: 196px;
    
}
#hinh1,#hinh2,#hinh3,#hinh4,#hinh5,#hinh6,#hinh7,#hinh8,#hinh9,#hinh10,#hinh11,#hinh12{
    display: none;
}
h1{
    color: white;
}



