button{
    width: 50px;
    height: 300px;
    background-color: white;
    margin: 0px;
}
button:active{
    background-color: gray;
    
}
#box{
    margin-top: 50px;
    margin: auto;
    width: 900px;
    height: 340px;
    border: 5px solid black;
    background-color: black;
    border-radius: 30px;
}
h1{
    color: white;
    animation: h1 5s infinite;
    font-weight: bold;
    text-transform: uppercase;
}
@keyframes h1 {
    0%{
        color: white;
    }
    25%{
        color: blue;
    }
    75%{
        color: red;
    }
    100%{
        color: green;
    }
}
#box2,#box3,#box4,#box5,#box6,#box7{
    width: 180px;
    height: 80px;
}
#box2 button{
    width: 40px;
    height: 180px;
    background-color: black;
    position: absolute;
    top:86px;
    left: 386px;
}

#box3 button{
    width: 40px;
    height: 180px;
    background-color: black;
    position: absolute;
    top:86px;
    left: 443px;
}
#box4 button{
    width: 40px;
    height: 180px;
    background-color: black;
    position: absolute;
    top:86px;
    left: 495px;
}
#box5 button{
    width: 40px;
    height: 180px;
    background-color: black;
    position: absolute;
    top:86px;
    left: 603px;
}
#box6 button{
    width: 40px;
    height: 180px;
    background-color: black;
    position: absolute;
    top:86px;
    left: 657px;
}
#box7 button{
    width: 40px;
    height: 180px;
    background-color: black;
    position: absolute;
    top:86px;
    left: 763px;
}
#box8 button{
    width: 40px;
    height: 180px;
    background-color: black;
    position: absolute;
    top:86px;
    left: 819px;
}
#box9 button{
    width: 40px;
    height: 180px;
    background-color: black;
    position: absolute;
    top:86px;
    left: 925px;
}
#box10 button{
    width: 40px;
    height: 180px;
    background-color: black;
    position: absolute;
    top:86px;
    left: 980px;
}
#box11 button{
    width: 40px;
    height: 180px;
    background-color: black;
    position: absolute;
    top:86px;
    left: 1033px;
}
#box2 button:active{
    background-color: gray;
}
#box3 button:active{
    background-color: gray;
}
#box4 button:active{
    background-color: gray;
}
#box5 button:active{
    background-color: gray;
}
#box6 button:active{
    background-color: gray;
}
#box7 button:active{
    background-color: gray;
}
#box8 button:active{
    background-color: gray;
}
#box9 button:active{
    background-color: gray;
}
#box10 button:active{
    background-color: gray;
}
#box11 button:active{
    background-color: gray;
}