#form{
    margin-left: 550px;
    background-color: black;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 50px inset gray;
    opacity: unset;
    
}
h1{
    padding-top: 20px;
    text-align: center;
    color: white;
    margin-top: 40px;
}
input{
    width: 345px;
    height: 45px;
    margin-top: 25px;
    padding-left: 20px;
    border-radius: 10px;
    font-size: 18px;
}
input:nth-child(3n+5){
    background-color: rgb(22, 81, 192);
    width: 160px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
    text-align: center;
}
input:nth-child(3n+5):hover{
    background-color: wheat;
    color: cadetblue;
}
input:nth-child(2n+1){
    background-color: gray;
    width: 160px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
input:nth-child(2n+1):hover{
    background-color: wheat;
    color: cadetblue;
}
input:focus{
    background-color: gray;
}    
body{
    background: url(../img/jk.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
}
